Repository r6hex-1g/Journet, pull requests merged in 2024-05, with the labels that each got.

#38 [MERGE] : ✅ 11ST MERGEING IN STYLE/APP FILES
  Journet-Web/Home/home.css
  Journet-Web/Home/home.html
  Journet-Web/Home/img/left_guide.png
  Journet-Web/Home/img/left_rogo.png
  Journet-Web/Home/img/right_bell.png
  Journet-Web/Home/img/right_guide.png
  Journet-Web/Home/img/right_menu.png
  Journet-Web/Home/img/right_mypage.png
  Journet-Web/Home/img/right_story.png
Labels: WEB Ver.

#40 [TEST] : 🍀 테스트 머지
  Journet-Web/API/KakaoMap.js
  Journet-Web/Home/home.css
  Journet-Web/Home/home.html
Labels: WEB Ver.

#43 [MERGE] : ✅ SECOND MERGEING IN FEAT/DB FILES
  Journet-Web/.gitignore
  Journet-Web/DB/Supabase/Mappins.js
  Journet-Web/DB/supabase.js
  Journet-Web/DB/types.ts
  Journet-Web/Home/home.html
Labels: WEB Ver., DB Feature

#47 [MERGE] : ✅ 1ST MERGEING IN → 헤더 z-index 추가, input 색상 삭제
  Journet-Web/Home/img/sec03_card.png
  Journet-Web/Home/img/sec03_card2.png
  Journet-Web/Home/img/sec03_card3.png
  Journet-Web/Home/img/sec03_card4.png
  Journet-Web/Home/img/sec03_card5.png
  Journet-Web/Home/img/sec04_card.png
  Journet-Web/Home/img/sec04_card2.png
  Journet-Web/Home/img/sec04_card5.png
  Journet-Web/Home/img/검색이동.svg
  Journet-Web/Home/img/지도.png
  Journet-Web/Home/main.css
  Journet-Web/Home/main.html
Labels: Beta Service, Official Service, WEB Ver.

#48 [MERGE] : ✅ 4TH MERGEING IN → 파일 삭제 & DB 재연결
  Journet-Web/Home/home.css
  Journet-Web/Home/home.html
  Journet-Web/Home/main.html
Labels: WEB Ver., DB Feature

#49 [MERGE] : ✅ 2ND MERGEING IN → validation check
  Journet-Web/Home/main.css
  Journet-Web/Home/main.html
Labels: WEB Ver.

#52 [MEGRE] : ✅ 2ND MERGEING IN → sec01, sec04, footer 수정
  Journet-Web/Home/main.css
  Journet-Web/Home/main.html
Labels: Official Service, WEB Ver.

#57 [MERGE] : ✅ 6TH MERGEING IN → Connect to API ↔ DB
  Journet-Web/.gitignore
  Journet-Web/API/KakaoMap.js
  Journet-Web/DB/Supabase/Mappins.js
  Journet-Web/DB/Supabase/Supabase.js
  Journet-Web/Home/main.html
Labels: Beta Service, Map Pin Feature, API Feature, WEB Ver., DB Feature

#58 [MEGRE] : ✅ 3RD MERGEING IN → 반응형 태블릿 완성
  Journet-Web/Home/main.css
  Journet-Web/Home/main.html
  Journet-Web/Home/main_t.css
  README.md
Labels: Beta Service, WEB Ver.
